<a href="https://colab.research.google.com/github/rjakkani1015/rashmi_INFO5731_-Fall2021/blob/main/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (09/01/2021, 40 points in total)**

(1) Write a Python program to calculate the length of a string. (4 points)

In [17]:
str = input("Enter a String:")
print("length of the input string:",len(str))

Enter a String:Rashmi
length of the input string: 6

(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [1]:
import operator
input_string = input("Enter a string:")
dict1 = {}
for i in input_string:
    dict1[i] = input_string.count(i)
    dict2 = dict(sorted(dict1.items(), key=operator.itemgetter(1), reverse=True))
print(dict2)

Enter a string:google.com
{'o': 3, 'g': 2, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(3) Write a Python program to sum all the items in a list. (4 points)

In [2]:
list1 = [10, 20, 30, 41]
result = 0

for i in range(0, len(list1)):
  result = result + list1[i]
print("sum of the items in the list:", result)

sum of the items in the list: 101

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (4 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [3]:
input_str = input("Enter a string:")

compare_str = input_str[1: len(input_str)]

result = compare_str.replace(input_str[0], '$')
print(input_str[0]+result)

Enter a string:restart
resta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (4 points)

In [7]:
input_a = float(input("Enter value a: "))
input_b = float(input("Enter value b: "))

def calc(a, b):
  s = 3.14 * pow(1 + (a / b), 3)
  print('S: ',s)  

calc(input_a, input_b)

Enter value a: 2
Enter value b: 1
S:  84.78

(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [9]:
dic1 = {1: 10, 2: 20}
dic2 = {3: 30, 4: 40}
dic3 = {5: 50, 6: 60}

dic1.update(dic2)
dic1.update(dic3)

print("Expected Result: ", dic1)

Expected Result:  {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (4 points)

In [10]:
tup = (1, 2, 3, 4, 5, 6, 7, 8, 9)

input_ele = int(input("Enter to be number searched: "))

if tup.count(input_ele) == 0:
  print("number is not present")
else:
  print("number is present")

Enter to be number searched: 4
number is present

(8) Write a Python program to find maximum and the minimum value in a set. (4 points)

In [11]:
input_set = {1, 2, 6, 4, 5}

print("Maximum Value: ", max(input_set))
print("Minimum Value: ", min(input_set))

Maximum Value:  6
Minimum Value:  1

(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159',
           'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091','py0080','ttp0037','hc0439','ri0094','pk0339', 'hn0145','mn0426']

In [16]:
student_list = ['vmb0067', 'pc0353', 'snd0097', 'yye0005', 'sg0940', 'bk0301', 'rak0120', 'rrk0058', 'spk0057', 'vl0135', 'nm0547', 'pn0159', 'msp0174', 'dd0420', 'ds0761', 'rs0850', 'ss1995', 'at0739', 'at0768', 'mv0299', 'tv0119', 'dy0091', 'py0080', 'ttp0037', 'hc0439', 'ri0094', 'pk0339', 'hn0145', 'mn0426']
dict = {}

for idx, val in enumerate(student_list):
  dict_key = (idx + 1) % 6
  dict.setdefault(dict_key, []).append(val)

print(dict)

{1: ['vmb0067', 'rak0120', 'msp0174', 'at0768', 'hc0439'], 2: ['pc0353', 'rrk0058', 'dd0420', 'mv0299', 'ri0094'], 3: ['snd0097', 'spk0057', 'ds0761', 'tv0119', 'pk0339'], 4: ['yye0005', 'vl0135', 'rs0850', 'dy0091', 'hn0145'], 5: ['sg0940', 'nm0547', 'ss1995', 'py0080', 'mn0426'], 0: ['bk0301', 'pn0159', 'at0739', 'ttp0037']}

(10) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [15]:
input_array = [1, 2, 3, 4, 5, 5]

output_array = []
dupes = []
counter = 0

for i in input_array:
    if i not in output_array:
      output_array.append(i)
    else:
      dupes.append(i)
      counter=counter+1

if counter>0:
  print(dupes)
else:
  print("-1")

[5]

(11) Write a Python program to select all the Sundays of a specified year. (4 extra points)

In [39]:
import operator
import json
import datetime
from datetime import date, timedelta

year = 2017

first_day_of_year = date(year, 1, 1)
first_day_name = first_day_of_year.weekday()
first_sunday = first_day_of_year+datetime.timedelta(days = (6-first_day_name))
lastday_of_year = date(year, 12, 31)

while first_sunday < lastday_of_year:
  first_sunday = first_sunday+datetime.timedelta(days = 7)
  print(first_sunday)

2017-01-08
2017-01-15
2017-01-22
2017-01-29
2017-02-05
2017-02-12
2017-02-19
2017-02-26
2017-03-05
2017-03-12
2017-03-19
2017-03-26
2017-04-02
2017-04-09
2017-04-16
2017-04-23
2017-04-30
2017-05-07
2017-05-14
2017-05-21
2017-05-28
2017-06-04
2017-06-11
2017-06-18
2017-06-25
2017-07-02
2017-07-09
2017-07-16
2017-07-23
2017-07-30
2017-08-06
2017-08-13
2017-08-20
2017-08-27
2017-09-03
2017-09-10
2017-09-17
2017-09-24
2017-10-01
2017-10-08
2017-10-15
2017-10-22
2017-10-29
2017-11-05
2017-11-12
2017-11-19
2017-11-26
2017-12-03
2017-12-10
2017-12-17
2017-12-24
2017-12-31